/* ANIMATIONS */
/*table of contents in style.css (main style file*/


/* TEXT */

.text-link:hover {
    text-decoration: underline;
}


/* TILES */

.tile:hover {
    opacity: 80%;
    background-color: #1073b1;
}

.tile-social:hover {
    grid-row: 3;
}

.tile-social#me:hover {
    grid-column: 1;
    background-color: #eeeeee;
}

.tile-social#facebook:hover {
    grid-column: 2;
    background-color: #2436b1;
}

.tile-social#linkedin:hover {
    grid-column: 3;
    background-color: #0055b2;
}

.tile-social#mail:hover {
    grid-column: 4;
    background-color: #b60101;
}

/* @keyframes animations */

@keyframes tileAppear {
    from {
        transform: scale(0.5);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.animate {
    animation-name: tileAppear;
    animation-duration: 0.3s;
    animation-fill-mode: both;
}

.tiles a, .description * {
    animation-name: tileAppear;
    animation-duration: 0.5s; 
    animation-fill-mode: both;
}

.tiles a:nth-child(1) {
    animation-delay: 0.7s; 
}

.tiles a:nth-child(2) {
    animation-delay: 0.8s; 
}

.tiles a:nth-child(3) {
    animation-delay: 0.9s; 
}

.tiles a:nth-child(4) {
    animation-delay: 1s; 
}

.tiles a:nth-child(5) {
    animation-delay: 1.1s; 
}

.description > div:nth-child(1) {
    animation-delay: 0.6s; 
}

.description a:nth-child(2) {
    animation-delay: 0.7s; 
}

.description a:nth-child(3) {
    animation-delay: 0.9s; 
}

.description a:nth-child(4) {
    animation-delay: 1.1s; 
}

.description a:nth-child(5) {
    animation-delay: 1.3s; 
}

#cursor {
    
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none; /* Upewnij się, że kursor nie blokuje innych elementów */
    /* transition: transform 0.15s ease-in-out; Opcjonalne: dodaj animację dla płynniejszego ruchu */
    z-index: 9999; /* Upewnij się, że element cursor jest na wierzchu */
    border-radius: 50%; /* Okrągły kształt */
    box-shadow: 0 0 15px 10px rgba(255, 255, 255, 0.5); /* Dodaj cień */
}
