body {
  margin: 0;
  display: grid;
  grid-template-areas: 
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr; /* Cała szerokość ekranu jest domyślnie dla 1fr */
  grid-template-rows: 100vh auto 100vh; /* `auto` dla main, żeby mógł się rozciągnąć */
  min-height: 100vh;
  overflow: hidden; /* Zapobiega przewijaniu całego ciała strony */

  background-color: black;
}




main {
  grid-area: main;
  display: grid;
  grid-template-rows: repeat(3, 100vh); /* Trzy sekcje, każda 100vh */
}

/* Zdefiniowanie stylów dla poszczególnych sekcji w main */
.main-section {
  background: linear-gradient(to right, #000000, #0000ff);
}

main > section.presentation {
  /* Style dla sekcji prezentacji */
}

main > section.hero-skills {
  /* Style dla sekcji umiejętności */
}

main > section.curriculum-vitae {
  /* Style dla sekcji CV */
}

footer {
  grid-area: footer;
  /* Style dla stopki */
}
