/* MAIN INDEX */

.main-presentation .main-text-presentation {
    grid-column: 1;
    color: #cecece;
    font-size: larger;
  }
  
  .main-presentation .main-picture-presentation {
    grid-column: 2;
  }
  
  .main-picture-presentation img {
    width: 35em;
    height: auto;
  }
  
  /* MAI INDEX HERO SKILLS */


  main > section.hero-skills .projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 40px;

    width: 90%;
    height: 80%;
  }

  main > section.hero-skills .projects > .project {
    
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;

    transition: transform 0.3s ease; /* Animacja dla efektu hover */
  }

  main > section.hero-skills .projects > .project:hover {
    transform: translateY(-10px); /* Podniesienie elementu listy po najechaniu */
    cursor: pointer;
  }

  main > section.hero-skills .projects > .project > .project-icons-cover {
    background-color: azure;
    border: 1px solid black;
    color: black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    padding: 0 20px;

    border-radius: 20px;
    border-style: solid;
    border-color: blueviolet;
    border-width: 3px;
  }
  main > section.hero-skills .projects > .project > .project-icons-cover > img {
    width: 75%;
    height: 75%;
  }

  main > section.hero-skills .projects > .project > p {
    display: block;
  }


  main > section.hero-skills .projects > .project > h3 {

  }

  main > section.hero-skills .projects-sec-intro {
    align-self: self-end;
    text-align: center;
  }



  /* SOFT SKILLS */

/* Stylizacja dla sekcji About Me */
main > section.curriculum-vitae > .content-container > div {
  text-align: center;
}

.about-me {
  background: #f7f7f7;
  color: #333;
  font-family: 'Arial', sans-serif;
  padding: 40px 40px;
  border-radius: 20px;
}

.about-me h2 {
  color: #1a1a1a;
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-align: center;
}

.about-me p {
  line-height: 1.6;
  margin-bottom: 20px;
}

/* Stylizacja dla sekcji Soft Skills */
.soft-skills h3 {
  font-size: 1.8rem;
  margin-top: 30px;
  margin-bottom: 10px;
  color: #1a1a1a;
  text-align: center;
}

.soft-skills-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.soft-skills-list li {
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  border-radius: 4px;
  transition: transform 0.3s ease;
  color: black;
  cursor: default;
}

.soft-skills-list li:hover {
  transform: translateY(-5px);
}

/* Stylizacja dla sekcji Interests and Aspirations */
.interests-and-aspirations h3 {
  font-size: 1.8rem;
  margin-top: 30px;
  margin-bottom: 10px;
  color: #c3c3c3;
  text-align: center;
}

.interests-and-aspirations p {
  line-height: 1.6;
  margin-bottom: 20px;
}
