nav {
    background:  transparent;
    color: #e7e7e7;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 2; /* be sure nav is into the text and vid */
    width: 100%;

    opacity: 0;
    animation: fadeIn 1s ease-out 1s forwards;
    transition-delay: 0.5s;
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    /* max-width: 1200px; */
    height: 70px;
    margin: 0 auto;

    
  }
  
  .nav-container img {
    width: 25px;
    height: 25px;
  }

  .nav-logo {
    font-size: 1.8rem;
    color: #e7e7e7;
    text-decoration: none;
    font-weight: normal;
    font-size: 20px;
  }
  
/* logo text formating */
.nav-logo {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-decoration: none; 
    font-family: 'Playfair Display SC', serif;
  }
  
nav a {
  cursor: pointer;
  padding: 10px;
}

  .nav-logo .names {
    font-size: 0.67em;
    font-weight: normal;
  }
  
  .nav-logo .surname {
    font-size: 1.0em;
    height: 10px;
  }

  .nav-links {
    display: flex;
    gap: 2rem;
  }
  
  .nav-links a {
    color: #e7e7e7;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    font-size: 0.9em;
  }
  
  .nav-links a:hover {
    color: #fff; /* jasnozielony kolor po najechaniu */
  }


  
  .nav-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 1.5rem;
    border: 2px solid #e7e7e7; /* Obramowanie przycisku */
    padding: 5px; /* Dodatkowy odstęp wewnątrz przycisku */
    box-sizing: border-box; /* Uwzględnia padding i border w wymiarach elementu */
    background: none; /* Brak tła */
  }
  
  .hamburger,
  .hamburger::before,
  .hamburger::after {
    display: block;
    background-color: #e7e7e7;
    height: 2px;
    width: 2rem;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    position: relative;
  }
  
  .hamburger::before {
    content: "";
    transform: translateY(-6px);
  }
  
  .hamburger::after {
    content: "";
    transform: translateY(6px);
  }
  
