
  /* Styl dla ekranów w orientacji pionowej */
@media screen and (orientation: portrait) {


	/* INDEX NAV */
	.nav-links {
      		display:block; /* ukryj linki na małych ekranach */
	}
  
	.nav-toggle {
      		display: grid; /* pokaż przycisk hamburgera */
    	}

	.nav-toggle:hover {
		cursor: pointer;
	}


 	/* toggled-nav-appered */ 
	nav > .nav-container > .nav-links {
		display: none;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(6, 1fr) 3fr;
		justify-items: center;
		align-items: center;

		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		width: 100vw;
		height: 100vh;
		background-color: white;
	}

	nav > .nav-container > .nav-links > a {
		color: black;
	}

	nav > .nav-container > .nav-links > span {
		position: absolute;
	    	top: 20px;
	    	right: 40px;
	    	z-index: 3;
	    	font-weight: 200;
	    	font-size: 3em;
	   	color: black;
	    	padding: 10px 30px;
	    	cursor: pointer;
	} 

	nav > .nav-container > .nav-links:nth-child(1) {
		
	}

	nav > .nav-container > .show-menu {
	    display: grid;
	    opacity: 1;
	    transform: translateY(0);
	    transition: opacity 1s, transform 1s;
	    transition-delay: 1s; 
	}

	nav > .nav-container > .hide-menu {
	    opacity: 0;
	    transform: translateY(-100%);
	    transition: opacity 1s, transform 1s;
	    transition-delay: 0.5s; /* opóźnienie potrzebne, aby element nie zniknął natychmiast */
	    display: none;
	}


	
	/* main-presentation */

	main > section.main-presentation {
		align-items: center;
	}

	main > section.main-presentation .main-text-presentation{
		font-size: 1.1em;
	}

	main > section.main-presentation > .content-container {
      		grid-template-columns: 1fr;
      		grid-template-rows: 1fr 1fr;		
    	}

	.main-presentation .main-picture-presentation {
      		grid-column: 1;
		grid-row: 2;
    	}

	main section.main-presentation img {
		width: 100%;
		height: 50vw;
	}
	/* hero-skills */	
	main > section.hero-skills .projects .project > .project-icons-cover {
		height: 10vh;
	}

	/* curriculum-vitae */


	main > section.curriculum-vitae > .content-container {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 2fr 2fr 1fr;
	}


	main > section.curriculum-vitae > .content-container > :nth-child(1) {
		grid-column: 1;
		grid-row: 1;
	}

	main > section.curriculum-vitae > .content-container > :nth-child(2) {
		grid-column: 1;
		grid-row: 2;
	}


	main > section.curriculum-vitae > .content-container > :nth-child(3) {
		grid-column: 1;
		grid-row: 3;
	}

	main > section.curriculum-vitae > .content-container > :nth-child(4) {
		grid-column: 1;
		grid-row: 4;
	}
		
	main > section.curriculum-vitae > .content-container .soft-skills-list li{
		margin: 0;	
		padding: 5px;
	}

	main > section.curriculum-vitae > .content-container .soft-skills-list {
		grid-gap: 10px;
	}

	main > section.curriculum-vitae > .content-container .soft-skills-list li,
	section.curriculum-vitae p,
	main > section.curriculum-vitae > .content-container .about-me p {	
		font-size: 0.8em;
	}

	main > section.curriculum-vitae > .content-container .about-me h2,
	main > section.curriculum-vitae > .content-container h3 {
		font-size: 1em;
		padding-top: 5px;
	}
		

	/* footer */

	footer.footer-index {
		justify-items: center;
		align-items: center;
	}

	footer.footer-index > .content-container {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 3fr;
	}

	.footer-index > .content-container > .contact {
		grid-row: 2;
		grid-template-columns: 1fr; 
		grid-template-rows: repeat(3, 1fr);
		grid-gap: 20px;
	}

}
  


/* Styl dla ekranów w orientacji poziomej */
@media screen and (orientation: landscape) {

  
}

@media screen and (max-height: 800px) and (orientation: landscape) {
  /* Style, które będą stosowane tylko wtedy, gdy ekran jest w orientacji poziomej (landscape) i jego wysokość jest mniejsza lub równa 700px */
	
	.main-picture-presentation img {
		width: 100%;
		height: 80vh;
	} 

	main > section.curriculum-vitae > .content-container .soft-skills-list li,
	section.curriculum-vitae p,
	main > section.curriculum-vitae > .content-container .about-me p {	
		font-size: 0.8em;
		padding-top: 5px;
	}

	main > section.curriculum-vitae > .content-container .about-me h2,
	main > section.curriculum-vitae > .content-container h3 {
		font-size: 1em;
		padding-top: 5px;
	}
		
	footer.footer-index > .content-container {
		grid-template-rows: 2fr 1fr;
	}

}




@media (max-width: 481px) {
    
    	/* NAV */

    	.nav-container {
     		padding: 0 2%;
    	}

    	.nav-logo .names {
		font-size: 0.7em;
    	}

    	.nav-logo .surname {
      	font-size: 1.05em;
    	}

    	.nav-container img {
     
    	}

    	nav a {
      		padding: 4%;
    	}

    	.nav-social-links {
	display: flex;      
	}


	/* HEADER */

	header {
	
    	}

    	.header-hero {
      		width: 100vw;
      		font-size: 0.8em;      
	}



}

/* Responsywność od 481px do 768px szerokości */
@media screen and (max-width: 768px) and (orientation: landscape) {
    
    	
    	/* INDEX FOOTER */
    	.footer-index .contact {
      		grid-template-columns: 1fr; /* One column layout for mobile */
    	}
  
    	.footer-about, .footer-contact, .footer-social {
      		text-align: center;
      		margin-bottom: 20px; /* Add margin for spacing between the sections */
    	}
  
    	.footer-social ul {
      		display: flex;
      		justify-content: center;
    	}
  
    	.footer-social li {
      		margin: 0 10px;
	}


	.soft-skills-list li {
      		display: block;
      		margin: 10px auto; 
	}


}
  

@media (max-width: 1200px) and (orientation: landscape) {

	body {
      
    	}

}

/* Laptopy i małe monitory */
@media (max-width: 1025px) and (orientation: landscape)  {
  
    
}

@media screen and (max-width: 1280px) and (max-height: 1024px) and (orientation: landscape) {

	main section.main-presentation {
		font-size: 0.8em;
	}

	  .main-picture-presentation img {
    		width: 100%;
    		height: 70vh;
  	}

}



/* Duże monitory */
@media (max-width: 1441px) {

  	.content {
    	/* Style dla ekranów 1441px i większych */ 
  	}

}

@media (max-width: 1600px) and (orientation: landscape)  {

	footer.footer-index {
		display: grid;
		justify-items: normal;
		align-items: normal;
	}

}


@media screen and (max-width: 1800px) and (orientation: landscape)  {


	.content-container {
    		margin: 0 5%; 
	}


}
