
  /* Styl dla ekranów w orientacji pionowej */
  @media screen and (orientation: portrait) {


    main > section.main-presentation > .content-container {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
    }

    .main-presentation .main-picture-presentation {
      grid-column: 1;
    }


  }
  
  /* Styl dla ekranów w orientacji poziomej */
  @media screen and (orientation: landscape) {

  
  }



  @media (min-width: 481px) {
    .content {
      /* Style dla ekranów od 481px do 768px */
    }
  }

   /* Responsywność - pokazuje menu hamburgerowe na mniejszych ekranach */
   @media (max-width: 768px) {


    /* INDEX NAV */
    .nav-links {
      display: none; /* ukryj linki na małych ekranach */
    }
  
    .nav-toggle {
      display: flex; /* pokaż przycisk hamburgera */
    }


    /* INDEX FOOTER */
    .footer-index .contact {
      grid-template-columns: 1fr; /* One column layout for mobile */
    }
  
    .footer-about,
    .footer-contact,
    .footer-social {
      text-align: center;
      margin-bottom: 20px; /* Add margin for spacing between the sections */
    }
  
    .footer-social ul {
      display: flex;
      justify-content: center;
    }
  
    .footer-social li {
      margin: 0 10px;
    }


    .soft-skills-list li {
      display: block;
      margin: 10px auto; 
    }


  }
  



/* Laptopy i małe monitory */
@media (min-width: 1025px) {
  .content {
    /* Style dla ekranów od 1025px do 1440px */
  }
}

/* Duże monitory */
@media (min-width: 1441px) {
  .content {
    /* Style dla ekranów 1441px i większych */
  }
}

@media screen and (max-width: 1800px) {


  .content-container {
    margin: 0 5%; 
  }


}