@font-face {
  font-family: 'Dominik';
  src: url('./fonts/DOMINIKTHi.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display SC';
  src: url('./fonts/Playfair_Display_SC/PlayfairDisplaySC-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
  margin: 0;
  display: grid;
  grid-template-areas: 
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr; /* Cała szerokość ekranu jest domyślnie dla 1fr */
  grid-template-rows: 100vh auto 100vh; /* `auto` dla main, żeby mógł się rozciągnąć */
  min-height: 100vh;
  background-color: black;
  font-weight: 100;
  
}


header {
  position: relative;
  overflow: hidden; /* Zapobiega wyświetlaniu się wideo poza headerem */

  display: grid;
  grid-template-rows: 4fr 1fr;;
  justify-items: center;
  align-items: center;
}

main {
  grid-area: main;
  display: grid;
  grid-template-rows: repeat(3, 100vh); /* Trzy sekcje, każda 100vh */
}

/* Zdefiniowanie stylów dla poszczególnych sekcji w main */

@keyframes backgroundAnimation {
  0% {
    background-color: #000000; /* Czarny */
  }
  50% {
    background-color: #010147; /* Niebieski */
  }
  100% {
    background-color: #000000; /* Czarny */
  }
}

main .main-presentation {
  

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;

  justify-items: center;
  align-items: center;
  
  background: linear-gradient(to right, #000000, #000091);

}

.main-presentation > .main-text-presentation {
  grid-column: 1;
  color: #cecece;

  margin: 40px 80px;
  font-size: larger;
}

.main-presentation > .main-picture-presentation {
  grid-column: 2;
  margin: 20px 80px;
}

.main-picture-presentation img {
  width: 35em;
  height: auto;
}

main > section.hero-skills {
  /* Style dla sekcji umiejętności */
  
  animation: backgroundAnimation 10s infinite; /* Animacja trwa 10 sekund i jest nieskończona */
}

main > section.curriculum-vitae {
  background-color: #4545ff;
}

footer {
  grid-area: footer;
  /* Style dla stopki */
}
