/* structure of index.html */



@font-face {
  font-family: 'Dominik';
  src: url('./fonts/DOMINIKTHi.TTF') format('truetype');
  font-weight: lighter;
  font-style: normal;
}




body {
  margin: 0;
  display: grid;
  grid-template-areas: 
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr; /* Cała szerokość ekranu jest domyślnie dla 1fr */
  grid-template-rows: 100vh auto 100vh; /* `auto` dla main, żeby mógł się rozciągnąć */
  min-height: 100vh;
  background-color: black;
  color: azure;
  font-weight: 100;
  
  -webkit-user-select: none; /* Chrome, Safari, Opera */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* Internet Explorer/Edge */
  user-select: none;  
}

header {
  position: relative;
  overflow: hidden; /* Zapobiega wyświetlaniu się wideo poza headerem */

  display: grid;
  grid-template-rows: 4fr 1fr;;
  justify-items: center;
  align-items: center;
}

main {
  grid-area: main;
  display: grid;
  grid-template-rows: repeat(3, 100vh); /* Trzy sekcje, każda 100vh */
}

main > section {
  display: grid;
  justify-items: center;
  align-items: center;
}

main .content-container {
  max-width: 1600px;
  height: 100%;
  width: 90%;
  height: 85%;
  margin-top: 40px;
  display: grid;
  justify-items: center;
  align-items: center;
}

main .main-presentation {
  background: linear-gradient(to right, #000000, #0101ad);
}

main > section.main-presentation > .content-container {
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  
}


main > section.hero-skills {
  animation: backgroundAnimation 9s infinite; 
}

main > section.hero-skills > .content-container {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr;
}

main > section.curriculum-vitae {
  background-color: #3c0058;
}

main > section.curriculum-vitae > .content-container {
  /* do uzupełnienia */
}





/* Dla urządzeń mobilnych, możemy zdecydować się na układanie li jeden pod drugim */
@media (max-width: 768px) {
  .soft-skills-list li {
    display: block;
    margin: 10px auto; /* Centralizacja elementów listy */
  }
}




/* ANIMATIONS */
@keyframes backgroundAnimation {
  0% {
    background-color: #000000; /* Czarny */
  }
  50% {
    background-color: #000075; /* Niebieski */
  }
  100% {
    background-color: #000000; /* Czarny */
  }
}




.typewriter {
  border-right: 2px solid black; /* Efekt kursora */
  font-family: monospace; /* Czcionka o stałej szerokości */
  white-space: nowrap; /* Zapobieganie łamaniu tekstu do nowej linii */
}

/* Opcjonalnie możesz dodać animację migającego kursora */
@keyframes blink {
  50% { border-color: transparent; }
}
.typewriter {
  animation: blink 1s step-end infinite;
}



@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.reveal {
  opacity: 0;
  transition: opacity 1.5s ease-out, transform 1s ease-out;
  transform: translateY(20px);
}

.reveal.visible {
  opacity: 1;
  transform: translateY(0px);
}
